/*
 * define positions for each block 
 */

input#real_in_pwd {
  display: none;
}

div.tile_form {
  width: 30%;
  height: 90%;
}

div.tile_doc {
  width: 30%;
  height: 90%;
}

div.tile_doc a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
  color: inherit;
}

div.tile_doc a:hover {
  text-decoration: underline;
}

div.main_block {
  height: 130%;
  min-height: 200px;
}

div.tile_author {
  width: 30%;
  height: 90%;
}

div.tile_author p {
  margin: 0.2em;
  padding: 0 0.5em;
}

div.tile_description {
  width: 90%;
  height: 100%;
  padding: 0 1em;
  text-align: left;
}

div.tile_row_description {
  max-height: 20em;
}

form.login_form {
  margin: 2%;
}

.block a {
  color: inherit;
  font-style: inherit;
  font-size: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding: 1%;
}

form.login_form .in_button {
  width: 40%;
}

div.tile_content {
  color: #FFFFFF;
}