/*
 * define positions for each block 
 */

div.title_block {
  
}

div.tile_form {
  width: 30%;
  height: 90%;
}

div.tile_doc {
  width: 30%;
  height: 90%;
}

div.tile_doc a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
  color: inherit;
}

div.tile_doc a:hover {
  text-decoration: underline;
}

div.main_block {
  height: 100%;
  min-height: 200px;
}

div.tile_author {
  width: 30%;
  height: 90%;
}

div.tile_author p {
  margin: 0.2em;
}

form.login_form {
  margin: 2%;
}

.block a {
  color: inherit;
  font-style: inherit;
  font-size: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding: 1%;
}

form.login_form .in_button {
  width: 40%;
}
